<?xml version="1.0" encoding="utf-8"?>
<OX>    
	<OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxarticles" cl="article" list="article_list">
                <TAB id="KUSSIN_CHATGPT_ARTICLE_APPROVAL" cl="article_chatgpt" />
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="KUSSIN_CHATGPT_CONTENT_CREATOR">
            <SUBMENU id="KUSSIN_CHATGPT_BULK_APPROVAL" cl="chatgpt_bulk_approval" />
            <SUBMENU id="KUSSIN_CHATGPT_EXPORTER" cl="chatgpt_exporter" />
            <SUBMENU id="KUSSIN_CHATGPT_WEIGHT_RANGE" cl="chatgpt_weight_range" />
        </MAINMENU>
    </OXMENU>
</OX>